*{
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 16px;
    padding: 24px;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    margin-bottom: -100px;
}
#red-box{
    background-color: red;
    position: relative;
    z-index: 1;
}
#green-box{
    background-color: green;
    position: relative;
    z-index: 9;
}
#blue-box{
    background-color: blue;
    position: relative;
    z-index: 50;
}