ul{
background-color: cadetblue;
position: relative;
}
.html{
position: relative;
top: 10px;
left: 10px;
bottom: 100px;
right: 100px;
inset: 20px;
position: unset;
}
.css{
    background-color:bisque;
    position: absolute;
    top: 10px;
    left: 10px;
}