.one {
    background-color: cyan;
    max-width: 600px;
    max-height: 600px;
}
.two{
    background-color: cadetblue;
    width: 50%;
    height: 50%;
}
.parent {
    background-color: brown;
    width: 300px;
    height: 400px;
}